nav {
    width: 300px;
    height: 100%;
    background-color: #C9C9C9;
    display: block;
    justify-content: flex-start;
    align-items: top;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10px;
  }

nav > ul {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: top;
    padding-inline-start: 0;
    margin-block: 0px;
    height: 40%;
  }

main {
  padding-left: 350px
}

@media (max-width: 1199px) and (min-width: 100px) {
    .example {
      width: 500px;
    }
  }
